@keyframes sprite {
  from { background-position: 0px; visibility: visible; }
  to { background-position: -9600px; visibility: hidden; }
}

html {
  min-width: 400px;
  max-width: 400px;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

textarea {
  display: block;
  border: 1px solid;
  height: 5em;
  width: 100%;
}

p {
  margin: 0;
}

p.pos {
  font-style: italic;
}

ul {
  margin: 0;
}

ol {
  margin: 0;
}

h1 {
  margin: 0;
  line-height: normal;
}

h3 {
  margin: 0;
}

img.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 30px;
  z-index: 1,
}

div.wordvore {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  line-height: 0%;
  row-gap: 10px;
  position: relative;
  z-index: 1,
}

div.wordOfTheDay {
  background-color: rgb(255, 252, 248);
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  line-height: normal;
}

div.wotdHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0;
  margin: 0;
  column-gap: 10px;
  line-height: normal;
}

div.voreAnim {
  height: 300px;
  width: 400px;
  background: url("./assets/spritesheet.png");
  animation: sprite 3s steps(24) 1 normal forwards;
  position: absolute;
  z-index: 1000,
}

div.definition {
  padding: 10px;
  min-height: 100vh;
}

div.definitionHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 10px;
  padding-top: 10px;
}

button.saveButton {
  margin-left: auto;
}

