@keyframes sprite {
  from { background-position: 0px; visibility: visible; }
  to { background-position: 9600px; visibility: hidden; }
}

html {
  min-width: 400px;
  max-width: 400px;
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

textarea {
  display: block;
  border: 1px solid;
  height: 5em;
  width: 100%;
}

p.pos {
  font-style: italic;
}

div.wordvore {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

div.voreAnim {
  height: 300px;
  width: 400px;
  background: url("./assets/spritesheet.png");
  animation: sprite 3s steps(24) 1 normal forwards;
  position: absolute;
}

div.definition {
  padding: 10px;
}

div.definitionHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  column-gap: 10px;
}

button.saveButton {
  margin-left: auto;
}
